<div class="card h-100">
  <a href="#"><img class="card-img-top" src="https://static.ybox.vn/2018/11/3/1542743817003-700X400%20(3).png" alt=""></a>
  <div class="card-body">
    <h4 class="card-title">
      <a href="#">Item One</a>
    </h4>
    <h5>$24.99</h5>
    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
  </div>
  <div class="card-footer">
    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
  </div>
</div>